<% if @project.errors.any? %>
  <% @project.errors.full_messages.each do |message| %>
  <p style="color:#ff0000; font-weight:bold"><%= message %></p>
  <% end %>
<% end %>
<h1>Update <%= @project.name %>:</h1>
<%= form_for [@user, @project] do |f| %>
  <%= f.label :name, "Project Name" %><br>
  <%= f.text_field :name %><br>
  <br>
  Client Info:
  <ul>
  <%= f.fields_for :client, @project.client do |client_fields| %>
    <%= render partial: "client_info", locals: {client_fields: client_fields} %>
  <% end %>
  <%= render partial: "form", locals: {f: f} %>
    <% if !@project.materials.empty? %>
    Edit Materials:
    <ul>
      <%= f.fields_for :materials, @project.materials do |materials_fields| %>
      <li><%= materials_fields.label :name %><br>
        <%= materials_fields.text_field :name %><br>
        <%= materials_fields.label :price, "Price Per Unit" %><br>
        <%= materials_fields.text_field :price %><br>
        <%= materials_fields.label :quantity %><br>
        <%= materials_fields.text_field :quantity %></li>
        <%= link_to "Remove", materials_fields.object, method: :delete %>
        <br>
        <% end %>
      </ul>
    <% end %>
  <%= f.submit %>
<% end %>
