<% if @project.errors.any? %>
  <% @project.errors.full_messages.each do |message| %>
  <p style="color:#ff0000; font-weight:bold"><%= message %></p>
  <% end %>
<% end %>
<h1>Create a New Project:</h1>
<%= form_for [@user, @project] do |f| %>
  <%= f.label :name, "Project Name" %><br>
  <%= f.text_field :name %><br>
  <br>
  Client Info:
  <ul>
  <%= f.fields_for :client, @project.build_client do |client_fields| %>
    <%= render partial: "client_info", locals: {client_fields: client_fields} %>
  <% end %>
  <%= render partial: "form", locals: {f: f} %>
  <%= f.submit %>
<% end %>
